### Könyvtárak importálása

In [1]:
import pandas as pd
import numpy as np
import researchpy as rp
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import os
ldir = os.chdir(r'C:\Users\Gergely\Documents\Datasets\Forma1')

### Drivers dataset

In [2]:
df_drivers = pd.read_csv('drivers.csv', parse_dates=['dob']).drop(columns=['driverRef', 'number', 'code', 'url'])
df_drivers.head()

   driverId  forename     surname        dob nationality
0         1     Lewis    Hamilton 1985-01-07     British
1         2      Nick    Heidfeld 1977-05-10      German
2         3      Nico     Rosberg 1985-06-27      German
3         4  Fernando      Alonso 1981-07-29     Spanish
4         5    Heikki  Kovalainen 1981-10-19     Finnish

In [3]:
df_drivers.shape

(847, 5)

In [4]:
df_drivers.info(null_counts=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 5 columns):
driverId       int64
forename       object
surname        object
dob            datetime64[ns]
nationality    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 33.2+ KB

### Results dataset

In [5]:
df_results = pd.read_csv('results.csv').drop(columns=['number', 'time', 'milliseconds', 'fastestLap', 'rank'])
df_results.head()

,resultId,raceId,driverId,constructorId,grid,position,positionText,positionOrder,points,laps,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,1,1,10.0,58,1:27.452,218.300,1
1,2,18,2,2,5,2,2,2,8.0,58,1:27.739,217.586,1
2,3,18,3,3,7,3,3,3,6.0,58,1:28.090,216.719,1
3,4,18,4,4,11,4,4,4,5.0,58,1:28.603,215.464,1
4,5,18,5,1,3,5,5,5,4.0,58,1:27.418,218.385,1

In [6]:
df_results.shape

(24620, 13)

### df = Drivers & Results

In [7]:
df = pd.merge(df_drivers, df_results, on='driverId', how='left')
df.head()

,driverId,forename,surname,dob,nationality,resultId,raceId,constructorId,grid,position,positionText,positionOrder,points,laps,fastestLapTime,fastestLapSpeed,statusId
0,1,Lewis,Hamilton,1985-01-07,British,1,18,1,1,1,1,1,10.0,58,1:27.452,218.300,1
1,1,Lewis,Hamilton,1985-01-07,British,27,19,1,9,5,5,5,4.0,56,1:35.462,209.033,1
2,1,Lewis,Hamilton,1985-01-07,British,57,20,1,3,13,13,13,0.0,56,1:35.520,203.969,11
3,1,Lewis,Hamilton,1985-01-07,British,69,21,1,5,3,3,3,6.0,66,1:22.017,204.323,1
4,1,Lewis,Hamilton,1985-01-07,British,90,22,1,3,2,2,2,8.0,58,1:26.529,222.085,1

In [8]:
pontok_szum = dict(df.groupby(by='driverId').points.sum())
pontok_szum = {k: v for k, v in sorted(pontok_szum.items(), key=lambda item: item[1], reverse=True)}
pontok_szum

{1: 3431.0,
 20: 2985.0,
 4: 1899.0,
 8: 1859.0,
 3: 1594.5,
 30: 1566.0,
 822: 1289.0,
 18: 1235.0,
 13: 1167.0,
 17: 1047.5,
 817: 1040.0,
 830: 948.0,
 117: 798.5,
 22: 658.0,
 102: 614.0,
 815: 581.0,
 14: 535.0,
 807: 511.0,
 137: 485.5,
 95: 482.0,
 182: 420.5,
 57: 420.0,
 154: 389.0,
 77: 385.0,
 71: 360.0,
 328: 360.0,
 23: 329.0,
 199: 310.0,
 31: 307.0,
 844: 303.0,
 289: 289.0,
 119: 281.0,
 224: 281.0,
 579: 279.14,
 21: 275.0,
 9: 274.0,
 373: 274.0,
 832: 267.0,
 356: 261.0,
 2: 259.0,
 222: 255.0,
 304: 248.0,
 15: 246.5,
 55: 241.0,
 35: 235.0,
 172: 228.0,
 223: 212.0,
 178: 206.0,
 238: 206.0,
 360: 196.5,
 56: 191.0,
 105: 186.5,
 475: 186.5,
 163: 181.0,
 235: 181.0,
 207: 180.0,
 341: 180.0,
 231: 179.0,
 49: 174.0,
 826: 170.0,
 187: 169.0,
 177: 159.5,
 825: 157.0,
 221: 141.0,
 647: 140.0,
 839: 136.0,
 364: 133.0,
 123: 132.0,
 578: 127.64,
 642: 127.33,
 155: 125.0,
 16: 124.0,
 842: 124.0,
 173: 122.0,
 814: 121.0,
 358: 109.0,
 203: 107.0,
 386: 107.0,
 5: 105.0,
 175: 103.0,
 202: 101.0,
 65: 98.0,
 84: 98.0,
 403: 98.0,
 848: 92.0,
 327: 89.0,
 140: 88.0,
 278: 83.0,
 498: 77.64,
 306: 77.0,
 44: 76.0,
 813: 76.0,
 479: 75.0,
 427: 72.33,
 118: 71.0,
 200: 71.0,
 345: 71.0,
 158: 70.0,
 346: 68.0,
 840: 67.0,
 145: 65.0,
 808: 64.0,
 309: 61.0,
 110: 59.0,
 250: 58.0,
 385: 58.0,
 476: 56.0,
 10: 51.0,
 554: 51.0,
 818: 51.0,
 633: 49.0,
 846: 49.0,
 404: 47.0,
 581: 47.0,
 25: 45.0,
 577: 45.0,
 11: 44.0,
 641: 41.0,
 347: 39.0,
 37: 35.0,
 63: 33.0,
 811: 33.0,
 87: 32.0,
 501: 32.0,
 786: 32.0,
 197: 31.5,
 122: 31.0,
 153: 31.0,
 255: 31.0,
 67: 29.0,
 233: 29.0,
 305: 29.0,
 509: 29.0,
 831: 29.0,
 374: 27.0,
 24: 26.0,
 408: 26.0,
 838: 26.0,
 170: 23.0,
 219: 21.0,
 418: 21.0,
 361: 20.0,
 611: 20.0,
 608: 19.5,
 12: 19.0,
 252: 19.0,
 456: 19.0,
 657: 19.0,
 94: 18.0,
 482: 18.0,
 525: 18.0,
 627: 18.0,
 828: 18.0,
 697: 17.5,
 50: 17.0,
 131: 17.0,
 176: 17.0,
 375: 17.0,
 648: 17.0,
 138: 16.0,
 590: 16.0,
 626: 16.0,
 230: 15.5,
 90: 15.0,
 206: 15.0,
 32: 14.0,
 91: 14.0,
 152: 14.0,
 156: 14.0,
 243: 14.0,
 387: 14.0,
 394: 14.0,
 449: 14.0,
 841: 14.0,
 43: 13.0,
 212: 13.0,
 262: 13.0,
 317: 13.0,
 643: 13.0,
 104: 12.0,
 280: 12.0,
 397: 12.0,
 593: 12.0,
 166: 11.0,
 232: 11.0,
 320: 11.0,
 370: 11.0,
 477: 11.0,
 529: 11.0,
 632: 11.0,
 64: 10.0,
 103: 10.0,
 109: 10.0,
 127: 10.0,
 307: 10.0,
 478: 10.0,
 512: 10.0,
 723: 10.0,
 526: 9.5,
 6: 9.0,
 359: 9.0,
 496: 9.0,
 640: 9.0,
 658: 9.0,
 686: 9.0,
 766: 9.0,
 835: 9.0,
 81: 8.5,
 555: 8.5,
 670: 8.14,
 42: 8.0,
 88: 8.0,
 288: 8.0,
 312: 8.0,
 350: 8.0,
 383: 8.0,
 401: 8.0,
 559: 8.0,
 628: 8.0,
 656: 8.0,
 669: 8.0,
 673: 8.0,
 33: 7.0,
 78: 7.0,
 100: 7.0,
 112: 7.0,
 121: 7.0,
 314: 7.0,
 435: 7.0,
 518: 6.5,
 7: 6.0,
 133: 6.0,
 333: 6.0,
 340: 6.0,
 376: 6.0,
 510: 6.0,
 580: 6.0,
 591: 6.0,
 701: 6.0,
 821: 6.0,
 836: 6.0,
 39: 5.0,
 48: 5.0,
 79: 5.0,
 92: 5.0,
 184: 5.0,
 332: 5.0,
 486: 5.0,
 541: 5.0,
 607: 5.0,
 612: 5.0,
 704: 5.0,
 27: 4.0,
 157: 4.0,
 185: 4.0,
 430: 4.0,
 454: 4.0,
 528: 4.0,
 533: 4.0,
 589: 4.0,
 606: 4.0,
 644: 4.0,
 653: 4.0,
 687: 4.0,
 768: 4.0,
 843: 4.0,
 620: 3.33,
 40: 3.0,
 41: 3.0,
 96: 3.0,
 139: 3.0,
 174: 3.0,
 194: 3.0,
 290: 3.0,
 351: 3.0,
 363: 3.0,
 396: 3.0,
 423: 3.0,
 440: 3.0,
 453: 3.0,
 481: 3.0,
 511: 3.0,
 543: 3.0,
 663: 3.0,
 741: 3.0,
 742: 3.0,
 763: 3.0,
 770: 3.0,
 793: 3.0,
 802: 3.0,
 75: 2.0,
 120: 2.0,
 160: 2.0,
 181: 2.0,
 193: 2.0,
 298: 2.0,
 357: 2.0,
 388: 2.0,
 405: 2.0,
 429: 2.0,
 433: 2.0,
 537: 2.0,
 547: 2.0,
 624: 2.0,
 625: 2.0,
 675: 2.0,
 689: 2.0,
 691: 2.0,
 695: 2.0,
 734: 2.0,
 743: 2.0,
 824: 2.0,
 583: 1.5,
 615: 1.5,
 622: 1.5,
 47: 1.0,
 51: 1.0,
 52: 1.0,
 70: 1.0,
 76: 1.0,
 83: 1.0,
 99: 1.0,
 129: 1.0,
 141: 1.0,
 159: 1.0,
 188: 1.0,
 192: 1.0,
 201: 1.0,
 254: 1.0,
 294: 1.0,
 321: 1.0,
 389: 1.0,
 399: 1.0,
 410: 1.0,
 483: 1.0,
 513: 1.0,
 519: 1.0,
 654: 1.0,
 774: 1.0,
 794: 1.0,
 845: 1.0,
 275: 0.5,
 19: 0.0,
 26: 0.0,
 28: 0.0,
 29: 0.0,
 34: 0.0,
 36: 0.0,
 38: 0.0,
 45: 0.0,
 46: 0.0,
 53: 0.0,
 54: 0.0,
 58: 0.0,
 59: 0.0,
 60: 0.0,
 61: 0.0,
 62: 0.0,
 66: 0.0,
 68: 0.0,
 69: 0.0,
 72: 0.0,
 73: 0.0,
 74: 0.0,
 80: 0.0,
 82: 0.0,
 85: 0.0,
 86: 0.0,
 89: 0.0,
 93: 0.0,
 97: 0.0,
 98: 0.0,
 101: 0.0,
 106: 0.0,
 107: 0.0,
 108: 0.0,
 111: 0.0,
 113: 0.0,
 114: 0.0,
 115: 0.0,
 116: 0.0,
 124: 0.0,
 125: 0.0,
 126: 0.0,
 128: 0.0,
 130: 0.0,
 132: 0.0,
 134: 0.0,
 135: 0.0,
 136: 0.0,
 142: 0.0,
 143: 0.0,
 144: 0.0,
 146: 0.0,
 147: 0.0,
 148: 0.0,
 149: 0.0,
 150: 0.0,
 151: 0.0,
 161: 0.0,
 162: 0.0,
 164: 0.0,
 165: 0.0,
 167: 0.0,
 168: 0.0,
 169: 0.0,
 171: 0.0,
 179: 0.0,
 180: 0.0,
 183: 0.0,
 186: 0.0,
 189: 0.0,
 190: 0.0,
 191: 0.0,
 195: 0.0,
 196: 0.0,
 198: 0.0,
 204: 0.0,
 205: 0.0,
 208: 0.0,
 209: 0.0,
 210: 0.0,
 211: 0.0,
 213: 0.0,
 214: 0.0,
 215: 0.0,
 216: 0.0,
 217: 0.0,
 218: 0.0,
 220: 0.0,
 225: 0.0,
 226: 0.0,
 227: 0.0,
 228: 0.0,
 229: 0.0,
 234: 0.0,
 236: 0.0,
 237: 0.0,
 239: 0.0,
 240: 0.0,
 241: 0.0,
 242: 0.0,
 244: 0.0,
 245: 0.0,
 246: 0.0,
 247: 0.0,
 248: 0.0,
 249: 0.0,
 251: 0.0,
 253: 0.0,
 256: 0.0,
 257: 0.0,
 258: 0.0,
 259: 0.0,
 260: 0.0,
 261: 0.0,
 263: 0.0,
 264: 0.0,
 265: 0.0,
 266: 0.0,
 267: 0.0,
 268: 0.0,
 269: 0.0,
 270: 0.0,
 271: 0.0,
 272: 0.0,
 273: 0.0,
 274: 0.0,
 276: 0.0,
 277: 0.0,
 279: 0.0,
 281: 0.0,
 282: 0.0,
 283: 0.0,
 284: 0.0,
 285: 0.0,
 286: 0.0,
 287: 0.0,
 291: 0.0,
 292: 0.0,
 293: 0.0,
 295: 0.0,
 296: 0.0,
 297: 0.0,
 299: 0.0,
 300: 0.0,
 301: 0.0,
 302: 0.0,
 303: 0.0,
 308: 0.0,
 310: 0.0,
 311: 0.0,
 313: 0.0,
 315: 0.0,
 316: 0.0,
 318: 0.0,
 319: 0.0,
 322: 0.0,
 323: 0.0,
 324: 0.0,
 325: 0.0,
 326: 0.0,
 329: 0.0,
 330: 0.0,
 331: 0.0,
 334: 0.0,
 335: 0.0,
 336: 0.0,
 337: 0.0,
 338: 0.0,
 339: 0.0,
 342: 0.0,
 343: 0.0,
 344: 0.0,
 348: 0.0,
 349: 0.0,
 352: 0.0,
 353: 0.0,
 354: 0.0,
 355: 0.0,
 362: 0.0,
 365: 0.0,
 366: 0.0,
 367: 0.0,
 368: 0.0,
 369: 0.0,
 371: 0.0,
 372: 0.0,
 377: 0.0,
 378: 0.0,
 379: 0.0,
 380: 0.0,
 381: 0.0,
 382: 0.0,
 384: 0.0,
 390: 0.0,
 391: 0.0,
 392: 0.0,
 393: 0.0,
 395: 0.0,
 398: 0.0,
 400: 0.0,
 402: 0.0,
 406: 0.0,
 407: 0.0,
 409: 0.0,
 411: 0.0,
 412: 0.0,
 413: 0.0,
 414: 0.0,
 415: 0.0,
 416: 0.0,
 417: 0.0,
 419: 0.0,
 420: 0.0,
 421: 0.0,
 422: 0.0,
 424: 0.0,
 425: 0.0,
 426: 0.0,
 428: 0.0,
 431: 0.0,
 432: 0.0,
 434: 0.0,
 436: 0.0,
 437: 0.0,
 438: 0.0,
 439: 0.0,
 441: 0.0,
 442: 0.0,
 443: 0.0,
 444: 0.0,
 445: 0.0,
 446: 0.0,
 447: 0.0,
 448: 0.0,
 450: 0.0,
 451: 0.0,
 452: 0.0,
 455: 0.0,
 457: 0.0,
 458: 0.0,
 459: 0.0,
 460: 0.0,
 461: 0.0,
 462: 0.0,
 463: 0.0,
 464: 0.0,
 465: 0.0,
 466: 0.0,
 467: 0.0,
 468: 0.0,
 469: 0.0,
 470: 0.0,
 471: 0.0,
 472: 0.0,
 473: 0.0,
 474: 0.0,
 480: 0.0,
 484: 0.0,
 485: 0.0,
 487: 0.0,
 488: 0.0,
 489: 0.0,
 490: 0.0,
 491: 0.0,
 492: 0.0,
 493: 0.0,
 494: 0.0,
 495: 0.0,
 497: 0.0,
 499: 0.0,
 500: 0.0,
 502: 0.0,
 503: 0.0,
 504: 0.0,
 505: 0.0,
 506: 0.0,
 507: 0.0,
 508: 0.0,
 514: 0.0,
 515: 0.0,
 516: 0.0,
 517: 0.0,
 520: 0.0,
 521: 0.0,
 522: 0.0,
 523: 0.0,
 524: 0.0,
 527: 0.0,
 530: 0.0,
 531: 0.0,
 532: 0.0,
 534: 0.0,
 535: 0.0,
 536: 0.0,
 538: 0.0,
 539: 0.0,
 540: 0.0,
 542: 0.0,
 544: 0.0,
 545: 0.0,
 546: 0.0,
 548: 0.0,
 549: 0.0,
 550: 0.0,
 551: 0.0,
 552: 0.0,
 553: 0.0,
 556: 0.0,
 557: 0.0,
 558: 0.0,
 560: 0.0,
 561: 0.0,
 562: 0.0,
 563: 0.0,
 564: 0.0,
 565: 0.0,
 566: 0.0,
 567: 0.0,
 568: 0.0,
 569: 0.0,
 570: 0.0,
 571: 0.0,
 572: 0.0,
 573: 0.0,
 574: 0.0,
 575: 0.0,
 576: 0.0,
 582: 0.0,
 584: 0.0,
 585: 0.0,
 586: 0.0,
 587: 0.0,
 588: 0.0,
 592: 0.0,
 594: 0.0,
 595: 0.0,
 596: 0.0,
 597: 0.0,
 598: 0.0,
 599: 0.0,
 600: 0.0,
 601: 0.0,
 602: 0.0,
 603: 0.0,
 604: 0.0,
 605: 0.0,
 609: 0.0,
 610: 0.0,
 613: 0.0,
 614: 0.0,
 616: 0.0,
 617: 0.0,
 618: 0.0,
 619: 0.0,
 621: 0.0,
 623: 0.0,
 629: 0.0,
 630: 0.0,
 631: 0.0,
 634: 0.0,
 635: 0.0,
 636: 0.0,
 637: 0.0,
 638: 0.0,
 639: 0.0,
 645: 0.0,
 646: 0.0,
 649: 0.0,
 650: 0.0,
 651: 0.0,
 652: 0.0,
 655: 0.0,
 659: 0.0,
 660: 0.0,
 661: 0.0,
 662: 0.0,
 664: 0.0,
 665: 0.0,
 666: 0.0,
 667: 0.0,
 668: 0.0,
 671: 0.0,
 672: 0.0,
 674: 0.0,
 676: 0.0,
 677: 0.0,
 678: 0.0,
 679: 0.0,
 680: 0.0,
 681: 0.0,
 682: 0.0,
 683: 0.0,
 684: 0.0,
 685: 0.0,
 688: 0.0,
 690: 0.0,
 692: 0.0,
 693: 0.0,
 694: 0.0,
 696: 0.0,
 698: 0.0,
 699: 0.0,
 700: 0.0,
 702: 0.0,
 703: 0.0,
 705: 0.0,
 706: 0.0,
 707: 0.0,
 708: 0.0,
 709: 0.0,
 710: 0.0,
 711: 0.0,
 712: 0.0,
 713: 0.0,
 714: 0.0,
 715: 0.0,
 716: 0.0,
 717: 0.0,
 718: 0.0,
 719: 0.0,
 720: 0.0,
 721: 0.0,
 722: 0.0,
 724: 0.0,
 725: 0.0,
 726: 0.0,
 727: 0.0,
 728: 0.0,
 729: 0.0,
 730: 0.0,
 731: 0.0,
 732: 0.0,
 733: 0.0,
 735: 0.0,
 736: 0.0,
 737: 0.0,
 738: 0.0,
 739: 0.0,
 740: 0.0,
 744: 0.0,
 745: 0.0,
 746: 0.0,
 747: 0.0,
 748: 0.0,
 749: 0.0,
 750: 0.0,
 751: 0.0,
 752: 0.0,
 753: 0.0,
 754: 0.0,
 755: 0.0,
 756: 0.0,
 757: 0.0,
 758: 0.0,
 759: 0.0,
 760: 0.0,
 761: 0.0,
 762: 0.0,
 764: 0.0,
 765: 0.0,
 767: 0.0,
 769: 0.0,
 771: 0.0,
 772: 0.0,
 773: 0.0,
 775: 0.0,
 776: 0.0,
 777: 0.0,
 778: 0.0,
 779: 0.0,
 780: 0.0,
 781: 0.0,
 782: 0.0,
 783: 0.0,
 784: 0.0,
 785: 0.0,
 787: 0.0,
 788: 0.0,
 789: 0.0,
 790: 0.0,
 791: 0.0,
 792: 0.0,
 795: 0.0,
 796: 0.0,
 797: 0.0,
 798: 0.0,
 799: 0.0,
 800: 0.0,
 801: 0.0,
 803: 0.0,
 804: 0.0,
 805: 0.0,
 806: 0.0,
 810: 0.0,
 812: 0.0,
 816: 0.0,
 819: 0.0,
 820: 0.0,
 823: 0.0,
 827: 0.0,
 829: 0.0,
 833: 0.0,
 834: 0.0,
 837: 0.0,
 847: 0.0}

In [9]:
for i, x in enumerate(df['position']):
    if x == '\\N':
        df.at[i, 'position'] = 100
    else:
        df.at[i, 'position'] = x

In [10]:
for i, x in enumerate(df['position']):
    df.at[i, 'position'] = int(df.at[i, 'position'])

In [11]:
df['position'] = df['position'].astype('Int16')

In [12]:
for i, x in enumerate(df['position']):
    if x < 11:
        df.at[i, 'pointsTen'] = 11-df.at[i, 'position']
    else:
        df.at[i, 'pointsTen'] = 0

In [13]:
df.head()

,driverId,forename,surname,dob,nationality,resultId,raceId,constructorId,grid,position,positionText,positionOrder,points,laps,fastestLapTime,fastestLapSpeed,statusId,pointsTen
0,1,Lewis,Hamilton,1985-01-07,British,1,18,1,1,1,1,1,10.0,58,1:27.452,218.300,1,10.0
1,1,Lewis,Hamilton,1985-01-07,British,27,19,1,9,5,5,5,4.0,56,1:35.462,209.033,1,6.0
2,1,Lewis,Hamilton,1985-01-07,British,57,20,1,3,13,13,13,0.0,56,1:35.520,203.969,11,0.0
3,1,Lewis,Hamilton,1985-01-07,British,69,21,1,5,3,3,3,6.0,66,1:22.017,204.323,1,8.0
4,1,Lewis,Hamilton,1985-01-07,British,90,22,1,3,2,2,2,8.0,58,1:26.529,222.085,1,9.0

### 10-es rendszerben a legtöbb pontot szerző versenyző: Michael Scumacher

In [14]:
pontok10_szum = dict(df.groupby(by='driverId').pointsTen.sum())
pontok10_szum = {k: v for k, v in sorted(pontok10_szum.items(), key=lambda item: item[1], reverse=True)}
pontok10_szum

{30: 1796.0,
 1: 1757.0,
 20: 1544.0,
 8: 1475.0,
 4: 1411.0,
 117: 1156.0,
 22: 1029.0,
 18: 1020.0,
 13: 960.0,
 14: 922.0,
 3: 899.0,
 102: 869.0,
 137: 845.0,
 77: 755.0,
 17: 753.0,
 95: 713.0,
 57: 694.0,
 822: 683.0,
 182: 639.0,
 23: 617.0,
 119: 614.0,
 55: 591.0,
 199: 585.0,
 817: 568.0,
 21: 556.0,
 289: 542.0,
 71: 520.0,
 328: 507.0,
 224: 506.0,
 830: 502.0,
 172: 501.0,
 304: 497.0,
 15: 496.0,
 356: 473.0,
 35: 461.0,
 222: 461.0,
 49: 451.0,
 2: 447.0,
 223: 444.0,
 56: 440.0,
 31: 427.0,
 105: 423.0,
 187: 412.0,
 360: 404.0,
 579: 385.0,
 123: 382.0,
 163: 377.0,
 815: 376.0,
 238: 375.0,
 373: 373.0,
 178: 354.0,
 235: 354.0,
 341: 343.0,
 207: 342.0,
 807: 338.0,
 84: 328.0,
 177: 320.0,
 173: 319.0,
 65: 317.0,
 231: 314.0,
 221: 303.0,
 9: 284.0,
 475: 281.0,
 175: 277.0,
 44: 269.0,
 364: 258.0,
 118: 249.0,
 200: 243.0,
 154: 242.0,
 578: 241.0,
 386: 232.0,
 278: 229.0,
 202: 228.0,
 140: 221.0,
 306: 221.0,
 642: 221.0,
 427: 220.0,
 110: 219.0,
 158: 216.0,
 203: 207.0,
 346: 207.0,
 403: 194.0,
 647: 194.0,
 347: 193.0,
 832: 181.0,
 63: 178.0,
 358: 175.0,
 327: 173.0,
 5: 170.0,
 345: 165.0,
 844: 164.0,
 197: 159.0,
 498: 152.0,
 554: 152.0,
 145: 149.0,
 250: 149.0,
 25: 143.0,
 385: 141.0,
 501: 140.0,
 479: 135.0,
 94: 129.0,
 176: 127.0,
 309: 122.0,
 633: 121.0,
 476: 119.0,
 87: 117.0,
 404: 115.0,
 826: 114.0,
 581: 111.0,
 825: 108.0,
 138: 102.0,
 305: 101.0,
 233: 100.0,
 122: 98.0,
 16: 96.0,
 230: 96.0,
 627: 96.0,
 156: 95.0,
 577: 95.0,
 374: 94.0,
 839: 92.0,
 10: 91.0,
 11: 89.0,
 155: 89.0,
 252: 86.0,
 64: 85.0,
 814: 84.0,
 641: 83.0,
 37: 81.0,
 408: 80.0,
 456: 80.0,
 127: 79.0,
 50: 78.0,
 842: 78.0,
 170: 77.0,
 206: 77.0,
 418: 73.0,
 109: 71.0,
 112: 69.0,
 166: 69.0,
 280: 69.0,
 100: 68.0,
 104: 68.0,
 152: 68.0,
 255: 67.0,
 243: 61.0,
 697: 60.0,
 81: 59.0,
 88: 59.0,
 131: 59.0,
 262: 59.0,
 848: 58.0,
 307: 57.0,
 133: 56.0,
 640: 56.0,
 786: 54.0,
 103: 53.0,
 482: 53.0,
 212: 51.0,
 90: 49.0,
 91: 49.0,
 361: 49.0,
 608: 48.0,
 626: 48.0,
 509: 47.0,
 643: 47.0,
 813: 47.0,
 79: 46.0,
 840: 46.0,
 232: 45.0,
 383: 45.0,
 477: 43.0,
 808: 43.0,
 32: 42.0,
 184: 42.0,
 648: 41.0,
 397: 40.0,
 430: 40.0,
 590: 40.0,
 607: 38.0,
 818: 38.0,
 78: 37.0,
 157: 37.0,
 317: 37.0,
 370: 36.0,
 375: 36.0,
 401: 36.0,
 669: 36.0,
 41: 35.0,
 394: 35.0,
 611: 35.0,
 846: 35.0,
 24: 34.0,
 67: 34.0,
 478: 33.0,
 43: 32.0,
 350: 32.0,
 525: 32.0,
 580: 32.0,
 48: 31.0,
 75: 31.0,
 314: 31.0,
 529: 31.0,
 12: 30.0,
 92: 30.0,
 139: 30.0,
 219: 30.0,
 288: 30.0,
 312: 30.0,
 555: 30.0,
 620: 30.0,
 70: 29.0,
 320: 29.0,
 518: 29.0,
 663: 29.0,
 160: 28.0,
 333: 28.0,
 290: 26.0,
 632: 26.0,
 644: 26.0,
 6: 25.0,
 121: 25.0,
 440: 25.0,
 496: 25.0,
 589: 25.0,
 686: 25.0,
 811: 25.0,
 153: 24.0,
 387: 24.0,
 704: 24.0,
 174: 23.0,
 359: 23.0,
 429: 23.0,
 114: 22.0,
 192: 22.0,
 449: 22.0,
 541: 22.0,
 658: 22.0,
 723: 22.0,
 741: 22.0,
 42: 21.0,
 69: 21.0,
 512: 21.0,
 831: 21.0,
 376: 20.0,
 388: 20.0,
 657: 20.0,
 838: 20.0,
 181: 19.0,
 185: 19.0,
 340: 19.0,
 435: 19.0,
 83: 18.0,
 99: 18.0,
 129: 18.0,
 205: 18.0,
 526: 18.0,
 533: 18.0,
 593: 18.0,
 612: 18.0,
 670: 18.0,
 7: 17.0,
 96: 17.0,
 229: 17.0,
 239: 17.0,
 294: 17.0,
 687: 17.0,
 828: 17.0,
 298: 16.0,
 486: 16.0,
 528: 16.0,
 606: 16.0,
 619: 16.0,
 660: 16.0,
 33: 15.0,
 194: 15.0,
 332: 15.0,
 351: 15.0,
 396: 15.0,
 453: 15.0,
 481: 15.0,
 483: 15.0,
 628: 15.0,
 656: 15.0,
 673: 15.0,
 766: 15.0,
 76: 14.0,
 179: 14.0,
 357: 14.0,
 510: 14.0,
 513: 14.0,
 193: 13.0,
 196: 13.0,
 322: 13.0,
 329: 13.0,
 566: 13.0,
 689: 13.0,
 763: 13.0,
 159: 12.0,
 183: 12.0,
 211: 12.0,
 217: 12.0,
 454: 12.0,
 547: 12.0,
 559: 12.0,
 609: 12.0,
 615: 12.0,
 622: 12.0,
 624: 12.0,
 66: 11.0,
 68: 11.0,
 201: 11.0,
 363: 11.0,
 399: 11.0,
 592: 11.0,
 625: 11.0,
 73: 10.0,
 120: 10.0,
 151: 10.0,
 437: 10.0,
 583: 10.0,
 654: 10.0,
 841: 10.0,
 106: 9.0,
 275: 9.0,
 405: 9.0,
 423: 9.0,
 431: 9.0,
 514: 9.0,
 591: 9.0,
 653: 9.0,
 701: 9.0,
 773: 9.0,
 774: 9.0,
 802: 9.0,
 54: 8.0,
 188: 8.0,
 258: 8.0,
 389: 8.0,
 651: 8.0,
 675: 8.0,
 680: 8.0,
 768: 8.0,
 27: 7.0,
 39: 7.0,
 141: 7.0,
 254: 7.0,
 265: 7.0,
 511: 7.0,
 543: 7.0,
 556: 7.0,
 693: 7.0,
 742: 7.0,
 770: 7.0,
 793: 7.0,
 26: 6.0,
 47: 6.0,
 59: 6.0,
 85: 6.0,
 189: 6.0,
 216: 6.0,
 237: 6.0,
 353: 6.0,
 390: 6.0,
 433: 6.0,
 519: 6.0,
 537: 6.0,
 586: 6.0,
 597: 6.0,
 691: 6.0,
 695: 6.0,
 726: 6.0,
 734: 6.0,
 743: 6.0,
 794: 6.0,
 835: 6.0,
 40: 5.0,
 58: 5.0,
 60: 5.0,
 62: 5.0,
 89: 5.0,
 169: 5.0,
 190: 5.0,
 246: 5.0,
 321: 5.0,
 337: 5.0,
 410: 5.0,
 434: 5.0,
 468: 5.0,
 623: 5.0,
 650: 5.0,
 688: 5.0,
 731: 5.0,
 736: 5.0,
 801: 5.0,
 806: 5.0,
 836: 5.0,
 52: 4.0,
 82: 4.0,
 97: 4.0,
 136: 4.0,
 148: 4.0,
 209: 4.0,
 240: 4.0,
 253: 4.0,
 267: 4.0,
 313: 4.0,
 448: 4.0,
 494: 4.0,
 538: 4.0,
 572: 4.0,
 613: 4.0,
 617: 4.0,
 661: 4.0,
 662: 4.0,
 708: 4.0,
 721: 4.0,
 735: 4.0,
 751: 4.0,
 767: 4.0,
 778: 4.0,
 787: 4.0,
 800: 4.0,
 821: 4.0,
 843: 4.0,
 51: 3.0,
 74: 3.0,
 128: 3.0,
 195: 3.0,
 256: 3.0,
 276: 3.0,
 311: 3.0,
 338: 3.0,
 368: 3.0,
 380: 3.0,
 395: 3.0,
 406: 3.0,
 438: 3.0,
 459: 3.0,
 502: 3.0,
 506: 3.0,
 520: 3.0,
 544: 3.0,
 549: 3.0,
 564: 3.0,
 629: 3.0,
 659: 3.0,
 679: 3.0,
 696: 3.0,
 720: 3.0,
 724: 3.0,
 93: 2.0,
 108: 2.0,
 111: 2.0,
 259: 2.0,
 272: 2.0,
 274: 2.0,
 323: 2.0,
 330: 2.0,
 402: 2.0,
 425: 2.0,
 455: 2.0,
 471: 2.0,
 493: 2.0,
 497: 2.0,
 515: 2.0,
 521: 2.0,
 573: 2.0,
 667: 2.0,
 674: 2.0,
 719: 2.0,
 744: 2.0,
 752: 2.0,
 759: 2.0,
 762: 2.0,
 764: 2.0,
 784: 2.0,
 785: 2.0,
 824: 2.0,
 86: 1.0,
 101: 1.0,
 251: 1.0,
 277: 1.0,
 297: 1.0,
 324: 1.0,
 352: 1.0,
 362: 1.0,
 365: 1.0,
 382: 1.0,
 413: 1.0,
 428: 1.0,
 432: 1.0,
 441: 1.0,
 469: 1.0,
 505: 1.0,
 507: 1.0,
 516: 1.0,
 531: 1.0,
 545: 1.0,
 551: 1.0,
 560: 1.0,
 567: 1.0,
 655: 1.0,
 780: 1.0,
 788: 1.0,
 19: 0.0,
 28: 0.0,
 29: 0.0,
 34: 0.0,
 36: 0.0,
 38: 0.0,
 45: 0.0,
 46: 0.0,
 53: 0.0,
 61: 0.0,
 72: 0.0,
 80: 0.0,
 98: 0.0,
 107: 0.0,
 113: 0.0,
 115: 0.0,
 116: 0.0,
 124: 0.0,
 125: 0.0,
 126: 0.0,
 130: 0.0,
 132: 0.0,
 134: 0.0,
 135: 0.0,
 142: 0.0,
 143: 0.0,
 144: 0.0,
 146: 0.0,
 147: 0.0,
 149: 0.0,
 150: 0.0,
 161: 0.0,
 162: 0.0,
 164: 0.0,
 165: 0.0,
 167: 0.0,
 168: 0.0,
 171: 0.0,
 180: 0.0,
 186: 0.0,
 191: 0.0,
 198: 0.0,
 204: 0.0,
 208: 0.0,
 210: 0.0,
 213: 0.0,
 214: 0.0,
 215: 0.0,
 218: 0.0,
 220: 0.0,
 225: 0.0,
 226: 0.0,
 227: 0.0,
 228: 0.0,
 234: 0.0,
 236: 0.0,
 241: 0.0,
 242: 0.0,
 244: 0.0,
 245: 0.0,
 247: 0.0,
 248: 0.0,
 249: 0.0,
 257: 0.0,
 260: 0.0,
 261: 0.0,
 263: 0.0,
 264: 0.0,
 266: 0.0,
 268: 0.0,
 269: 0.0,
 270: 0.0,
 271: 0.0,
 273: 0.0,
 279: 0.0,
 281: 0.0,
 282: 0.0,
 283: 0.0,
 284: 0.0,
 285: 0.0,
 286: 0.0,
 287: 0.0,
 291: 0.0,
 292: 0.0,
 293: 0.0,
 295: 0.0,
 296: 0.0,
 299: 0.0,
 300: 0.0,
 301: 0.0,
 302: 0.0,
 303: 0.0,
 308: 0.0,
 310: 0.0,
 315: 0.0,
 316: 0.0,
 318: 0.0,
 319: 0.0,
 325: 0.0,
 326: 0.0,
 331: 0.0,
 334: 0.0,
 335: 0.0,
 336: 0.0,
 339: 0.0,
 342: 0.0,
 343: 0.0,
 344: 0.0,
 348: 0.0,
 349: 0.0,
 354: 0.0,
 355: 0.0,
 366: 0.0,
 367: 0.0,
 369: 0.0,
 371: 0.0,
 372: 0.0,
 377: 0.0,
 378: 0.0,
 379: 0.0,
 381: 0.0,
 384: 0.0,
 391: 0.0,
 392: 0.0,
 393: 0.0,
 398: 0.0,
 400: 0.0,
 407: 0.0,
 409: 0.0,
 411: 0.0,
 412: 0.0,
 414: 0.0,
 415: 0.0,
 416: 0.0,
 417: 0.0,
 419: 0.0,
 420: 0.0,
 421: 0.0,
 422: 0.0,
 424: 0.0,
 426: 0.0,
 436: 0.0,
 439: 0.0,
 442: 0.0,
 443: 0.0,
 444: 0.0,
 445: 0.0,
 446: 0.0,
 447: 0.0,
 450: 0.0,
 451: 0.0,
 452: 0.0,
 457: 0.0,
 458: 0.0,
 460: 0.0,
 461: 0.0,
 462: 0.0,
 463: 0.0,
 464: 0.0,
 465: 0.0,
 466: 0.0,
 467: 0.0,
 470: 0.0,
 472: 0.0,
 473: 0.0,
 474: 0.0,
 480: 0.0,
 484: 0.0,
 485: 0.0,
 487: 0.0,
 488: 0.0,
 489: 0.0,
 490: 0.0,
 491: 0.0,
 492: 0.0,
 495: 0.0,
 499: 0.0,
 500: 0.0,
 503: 0.0,
 504: 0.0,
 508: 0.0,
 517: 0.0,
 522: 0.0,
 523: 0.0,
 524: 0.0,
 527: 0.0,
 530: 0.0,
 532: 0.0,
 534: 0.0,
 535: 0.0,
 536: 0.0,
 539: 0.0,
 540: 0.0,
 542: 0.0,
 546: 0.0,
 548: 0.0,
 550: 0.0,
 552: 0.0,
 553: 0.0,
 557: 0.0,
 558: 0.0,
 561: 0.0,
 562: 0.0,
 563: 0.0,
 565: 0.0,
 568: 0.0,
 569: 0.0,
 570: 0.0,
 571: 0.0,
 574: 0.0,
 575: 0.0,
 576: 0.0,
 582: 0.0,
 584: 0.0,
 585: 0.0,
 587: 0.0,
 588: 0.0,
 594: 0.0,
 595: 0.0,
 596: 0.0,
 598: 0.0,
 599: 0.0,
 600: 0.0,
 601: 0.0,
 602: 0.0,
 603: 0.0,
 604: 0.0,
 605: 0.0,
 610: 0.0,
 614: 0.0,
 616: 0.0,
 618: 0.0,
 621: 0.0,
 630: 0.0,
 631: 0.0,
 634: 0.0,
 635: 0.0,
 636: 0.0,
 637: 0.0,
 638: 0.0,
 639: 0.0,
 645: 0.0,
 646: 0.0,
 649: 0.0,
 652: 0.0,
 664: 0.0,
 665: 0.0,
 666: 0.0,
 668: 0.0,
 671: 0.0,
 672: 0.0,
 676: 0.0,
 677: 0.0,
 678: 0.0,
 681: 0.0,
 682: 0.0,
 683: 0.0,
 684: 0.0,
 685: 0.0,
 690: 0.0,
 692: 0.0,
 694: 0.0,
 698: 0.0,
 699: 0.0,
 700: 0.0,
 702: 0.0,
 703: 0.0,
 705: 0.0,
 706: 0.0,
 707: 0.0,
 709: 0.0,
 710: 0.0,
 711: 0.0,
 712: 0.0,
 713: 0.0,
 714: 0.0,
 715: 0.0,
 716: 0.0,
 717: 0.0,
 718: 0.0,
 722: 0.0,
 725: 0.0,
 727: 0.0,
 728: 0.0,
 729: 0.0,
 730: 0.0,
 732: 0.0,
 733: 0.0,
 737: 0.0,
 738: 0.0,
 739: 0.0,
 740: 0.0,
 745: 0.0,
 746: 0.0,
 747: 0.0,
 748: 0.0,
 749: 0.0,
 750: 0.0,
 753: 0.0,
 754: 0.0,
 755: 0.0,
 756: 0.0,
 757: 0.0,
 758: 0.0,
 760: 0.0,
 761: 0.0,
 765: 0.0,
 769: 0.0,
 771: 0.0,
 772: 0.0,
 775: 0.0,
 776: 0.0,
 777: 0.0,
 779: 0.0,
 781: 0.0,
 782: 0.0,
 783: 0.0,
 789: 0.0,
 790: 0.0,
 791: 0.0,
 792: 0.0,
 795: 0.0,
 796: 0.0,
 797: 0.0,
 798: 0.0,
 799: 0.0,
 803: 0.0,
 804: 0.0,
 805: 0.0,
 810: 0.0,
 812: 0.0,
 816: 0.0,
 819: 0.0,
 820: 0.0,
 823: 0.0,
 827: 0.0,
 829: 0.0,
 833: 0.0,
 834: 0.0,
 837: 0.0,
 845: 0.0,
 847: 0.0}

In [45]:
df_drivers[df_drivers['driverId'] == 30]

    driverId forename     surname        dob nationality
29        30  Michael  Schumacher 1969-01-03      German

In [18]:
df_qualifying = pd.read_csv('qualifying.csv').drop(columns=['qualifyId', 'number'])
df_qualifying.head()

   raceId  driverId  constructorId  position        q1        q2        q3
0      18         1              1         1  1:26.572  1:25.187  1:26.714
1      18         9              2         2  1:26.103  1:25.315  1:26.869
2      18         5              1         3  1:25.664  1:25.452  1:27.079
3      18        13              6         4  1:25.994  1:25.691  1:27.178
4      18         2              2         5  1:25.960  1:25.518  1:27.236

In [19]:
df = pd.merge(df, df_qualifying, left_on=['raceId','driverId', 'constructorId'], right_on = ['raceId','driverId', 'constructorId'], how='left')

In [20]:
df.head()

,driverId,forename,surname,dob,nationality,resultId,raceId,constructorId,grid,position_x,...,points,laps,fastestLapTime,fastestLapSpeed,statusId,pointsTen,position_y,q1,q2,q3
0,1,Lewis,Hamilton,1985-01-07,British,1,18,1,1,1,...,10.0,58,1:27.452,218.300,1,10.0,1.0,1:26.572,1:25.187,1:26.714
1,1,Lewis,Hamilton,1985-01-07,British,27,19,1,9,5,...,4.0,56,1:35.462,209.033,1,6.0,4.0,1:35.392,1:34.627,1:36.709
2,1,Lewis,Hamilton,1985-01-07,British,57,20,1,3,13,...,0.0,56,1:35.520,203.969,11,0.0,3.0,1:32.750,1:31.922,1:33.292
3,1,Lewis,Hamilton,1985-01-07,British,69,21,1,5,3,...,6.0,66,1:22.017,204.323,1,8.0,5.0,1:21.366,1:20.825,1:22.096
4,1,Lewis,Hamilton,1985-01-07,British,90,22,1,3,2,...,8.0,58,1:26.529,222.085,1,9.0,3.0,1:26.192,1:26.477,1:27.923

In [22]:
df[df['nationality'] == 'Hungarian']

,driverId,forename,surname,dob,nationality,resultId,raceId,constructorId,grid,position_x,...,points,laps,fastestLapTime,fastestLapSpeed,statusId,pointsTen,position_y,q1,q2,q3
5551,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1533,90,18,17,100,...,0.0,13,1:30.621,210.666,10,0.0,17.0,1:30.681,\N,\N
5552,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1550,91,18,17,16,...,0.0,52,1:40.123,199.302,14,0.0,17.0,1:39.272,\N,\N
5553,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1573,92,18,20,100,...,0.0,44,1:34.555,206.241,5,0.0,19.0,1:35.787,\N,\N
5554,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1589,93,18,19,15,...,0.0,58,1:26.075,206.317,14,0.0,18.0,1:46.299,\N,\N
5555,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1614,94,18,20,100,...,0.0,17,1:23.390,199.750,20,0.0,20.0,1:21.470,\N,\N
5556,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1623,95,18,19,9,...,0.0,71,1:21.886,146.838,16,2.0,19.0,1:20.060,\N,\N
5557,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1649,96,18,17,15,...,0.0,57,1:34.666,195.770,13,0.0,17.0,1:34.398,\N,\N
5558,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1664,97,18,18,10,...,0.0,66,1:17.516,202.533,14,1.0,18.0,1:17.064,\N,\N
5559,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1682,98,18,19,8,...,1.0,70,1:14.097,203.668,13,3.0,19.0,1:14.812,\N,\N
5560,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1713,99,18,20,100,...,0.0,31,1:19.659,199.344,20,0.0,20.0,1:18.247,\N,\N
5561,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1733,100,18,19,100,...,0.0,29,1:24.317,219.500,5,0.0,19.0,1:24.117,\N,\N
5562,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1750,101,18,20,16,...,0.0,62,1:18.760,209.070,14,0.0,20.0,1:18.400,\N,\N
5563,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1769,102,18,18,15,...,0.0,65,1:24.855,185.865,15,0.0,18.0,1:24.329,\N,\N
5564,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1789,103,18,18,100,...,0.0,28,1:51.031,226.185,4,0.0,18.0,2:03.303,\N,\N
5565,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1809,104,18,19,15,...,0.0,50,1:26.356,241.497,13,0.0,19.0,1:24.808,\N,\N
5566,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1830,105,18,19,16,...,0.0,53,1:37.578,201.106,13,0.0,18.0,1:40.240,\N,\N
5567,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1851,106,18,20,100,...,0.0,41,1:39.434,210.241,20,0.0,19.0,\N,\N,\N
5568,47,Zsolt,Baumgartner,1981-01-01,Hungarian,1870,107,18,19,16,...,0.0,67,1:14.743,207.543,14,0.0,19.0,1:13.550,\N,\N
5569,47,Zsolt,Baumgartner,1981-01-01,Hungarian,2130,120,17,19,100,...,0.0,34,\N,\N,5,0.0,19.0,1:26.678,\N,\N
5570,47,Zsolt,Baumgartner,1981-01-01,Hungarian,2145,121,17,18,11,...,0.0,51,\N,\N,12,0.0,18.0,1:25.881,\N,\N

### A legtöbb hétvégén szereplő versenyző: Rubens Barichello

In [43]:
versenyek = dict(df.groupby(by='driverId').driverId.count())
versenyek = {k: v for k, v in sorted(versenyek.items(), key=lambda item: item[1], reverse=True)}
versenyek

{22: 326,
 8: 315,
 4: 314,
 18: 309,
 30: 308,
 13: 271,
 119: 257,
 15: 256,
 1: 250,
 14: 247,
 20: 241,
 21: 231,
 17: 217,
 105: 215,
 110: 214,
 77: 210,
 137: 207,
 3: 206,
 55: 202,
 117: 202,
 95: 192,
 2: 184,
 23: 180,
 172: 180,
 289: 179,
 807: 179,
 815: 178,
 182: 174,
 817: 171,
 154: 166,
 35: 165,
 57: 165,
 65: 165,
 84: 165,
 123: 164,
 163: 164,
 102: 162,
 118: 162,
 49: 159,
 44: 158,
 187: 154,
 224: 149,
 56: 147,
 199: 146,
 158: 143,
 197: 143,
 822: 140,
 223: 138,
 207: 129,
 356: 129,
 16: 128,
 177: 128,
 94: 123,
 238: 123,
 71: 122,
 175: 122,
 235: 121,
 178: 117,
 112: 115,
 200: 114,
 222: 113,
 5: 112,
 304: 112,
 341: 112,
 63: 111,
 160: 111,
 173: 110,
 347: 109,
 37: 107,
 50: 107,
 278: 106,
 140: 103,
 360: 103,
 825: 103,
 830: 102,
 832: 102,
 328: 100,
 346: 100,
 64: 99,
 122: 98,
 9: 97,
 79: 97,
 828: 97,
 813: 96,
 10: 95,
 31: 95,
 221: 95,
 826: 95,
 231: 93,
 11: 91,
 88: 88,
 156: 88,
 176: 88,
 306: 87,
 364: 87,
 427: 87,
 92: 84,
 232: 84,
 152: 82,
 24: 81,
 131: 81,
 233: 81,
 127: 80,
 138: 80,
 99: 78,
 230: 78,
 145: 77,
 155: 76,
 78: 75,
 133: 75,
 90: 74,
 250: 73,
 373: 73,
 475: 73,
 202: 72,
 170: 71,
 81: 70,
 109: 70,
 25: 69,
 203: 68,
 206: 64,
 501: 64,
 87: 63,
 100: 63,
 129: 62,
 358: 62,
 840: 62,
 243: 61,
 280: 59,
 814: 59,
 821: 59,
 69: 58,
 212: 58,
 579: 58,
 808: 58,
 818: 58,
 554: 57,
 67: 55,
 181: 55,
 219: 55,
 404: 55,
 166: 54,
 345: 54,
 386: 54,
 403: 52,
 32: 51,
 262: 51,
 305: 51,
 456: 51,
 114: 50,
 839: 50,
 39: 48,
 578: 48,
 103: 47,
 157: 47,
 327: 47,
 842: 47,
 27: 46,
 153: 46,
 418: 46,
 811: 46,
 70: 44,
 385: 44,
 104: 43,
 91: 42,
 239: 42,
 252: 42,
 838: 42,
 844: 42,
 136: 41,
 184: 41,
 479: 41,
 139: 40,
 831: 40,
 307: 39,
 627: 39,
 819: 39,
 836: 39,
 41: 38,
 290: 38,
 33: 37,
 194: 37,
 205: 37,
 211: 37,
 581: 37,
 642: 37,
 835: 37,
 6: 36,
 48: 36,
 314: 36,
 333: 36,
 374: 36,
 647: 36,
 633: 35,
 820: 35,
 824: 34,
 75: 33,
 68: 32,
 83: 32,
 146: 32,
 159: 32,
 192: 32,
 255: 32,
 309: 31,
 430: 31,
 73: 30,
 101: 30,
 196: 30,
 320: 30,
 59: 29,
 128: 29,
 195: 29,
 229: 29,
 329: 29,
 361: 29,
 401: 29,
 498: 29,
 626: 29,
 12: 28,
 26: 28,
 43: 28,
 85: 28,
 179: 28,
 476: 28,
 7: 27,
 108: 27,
 408: 27,
 58: 26,
 383: 26,
 394: 26,
 437: 26,
 577: 26,
 76: 25,
 660: 25,
 843: 25,
 19: 24,
 188: 23,
 317: 23,
 640: 23,
 841: 23,
 148: 22,
 185: 22,
 29: 21,
 60: 21,
 165: 21,
 167: 21,
 845: 21,
 846: 21,
 847: 21,
 848: 21,
 42: 20,
 47: 20,
 120: 20,
 141: 20,
 183: 20,
 237: 20,
 251: 20,
 478: 20,
 816: 20,
 376: 19,
 669: 19,
 810: 19,
 823: 19,
 829: 19,
 46: 18,
 89: 18,
 190: 18,
 351: 18,
 477: 18,
 547: 18,
 641: 18,
 66: 17,
 162: 17,
 213: 17,
 275: 17,
 330: 17,
 370: 17,
 482: 17,
 589: 17,
 608: 17,
 643: 17,
 697: 17,
 51: 16,
 62: 16,
 74: 16,
 174: 16,
 265: 16,
 663: 16,
 54: 15,
 147: 15,
 151: 15,
 193: 15,
 201: 15,
 246: 15,
 256: 15,
 288: 15,
 296: 15,
 357: 15,
 397: 15,
 429: 15,
 483: 15,
 541: 15,
 651: 15,
 45: 14,
 52: 14,
 149: 14,
 208: 14,
 321: 14,
 580: 14,
 590: 14,
 121: 13,
 142: 13,
 216: 13,
 258: 13,
 293: 13,
 312: 13,
 313: 13,
 350: 13,
 352: 13,
 375: 13,
 389: 13,
 455: 13,
 486: 13,
 529: 13,
 704: 13,
 833: 13,
 169: 12,
 209: 12,
 267: 12,
 276: 12,
 332: 12,
 359: 12,
 435: 12,
 440: 12,
 449: 12,
 496: 12,
 509: 12,
 609: 12,
 648: 12,
 670: 12,
 687: 12,
 741: 12,
 837: 12,
 38: 11,
 40: 11,
 96: 11,
 217: 11,
 259: 11,
 270: 11,
 338: 11,
 353: 11,
 405: 11,
 453: 11,
 612: 11,
 632: 11,
 812: 11,
 86: 10,
 106: 10,
 130: 10,
 161: 10,
 294: 10,
 340: 10,
 388: 10,
 438: 10,
 481: 10,
 518: 10,
 593: 10,
 620: 10,
 111: 9,
 180: 9,
 186: 9,
 298: 9,
 337: 9,
 339: 9,
 380: 9,
 396: 9,
 459: 9,
 484: 9,
 506: 9,
 512: 9,
 513: 9,
 520: 9,
 525: 9,
 526: 9,
 555: 9,
 566: 9,
 586: 9,
 607: 9,
 611: 9,
 644: 9,
 689: 9,
 189: 8,
 204: 8,
 277: 8,
 283: 8,
 382: 8,
 528: 8,
 615: 8,
 624: 8,
 786: 8,
 36: 7,
 93: 7,
 97: 7,
 135: 7,
 164: 7,
 225: 7,
 254: 7,
 257: 7,
 322: 7,
 387: 7,
 420: 7,
 431: 7,
 465: 7,
 502: 7,
 521: 7,
 556: 7,
 583: 7,
 619: 7,
 625: 7,
 664: 7,
 680: 7,
 686: 7,
 723: 7,
 125: 6,
 134: 6,
 240: 6,
 245: 6,
 253: 6,
 271: 6,
 295: 6,
 316: 6,
 342: 6,
 368: 6,
 428: 6,
 434: 6,
 454: 6,
 507: 6,
 533: 6,
 549: 6,
 559: 6,
 592: 6,
 606: 6,
 622: 6,
 653: 6,
 658: 6,
 773: 6,
 53: 5,
 191: 5,
 210: 5,
 236: 5,
 241: 5,
 247: 5,
 260: 5,
 399: 5,
 423: 5,
 425: 5,
 432: 5,
 436: 5,
 439: 5,
 460: 5,
 514: 5,
 516: 5,
 537: 5,
 538: 5,
 551: 5,
 558: 5,
 596: 5,
 597: 5,
 628: 5,
 645: 5,
 650: 5,
 654: 5,
 657: 5,
 659: 5,
 688: 5,
 702: 5,
 708: 5,
 721: 5,
 762: 5,
 763: 5,
 793: 5,
 834: 5,
 34: 4,
 82: 4,
 143: 4,
 215: 4,
 269: 4,
 284: 4,
 308: 4,
 311: 4,
 334: 4,
 362: 4,
 363: 4,
 424: 4,
 433: 4,
 441: 4,
 480: 4,
 500: 4,
 505: 4,
 508: 4,
 527: 4,
 532: 4,
 543: 4,
 562: 4,
 563: 4,
 613: 4,
 630: 4,
 656: 4,
 661: 4,
 675: 4,
 677: 4,
 717: 4,
 738: 4,
 746: 4,
 747: 4,
 61: 3,
 98: 3,
 107: 3,
 115: 3,
 132: 3,
 198: 3,
 234: 3,
 242: 3,
 244: 3,
 285: 3,
 292: 3,
 319: 3,
 324: 3,
 343: 3,
 365: 3,
 402: 3,
 406: 3,
 410: 3,
 411: 3,
 413: 3,
 444: 3,
 462: 3,
 463: 3,
 464: 3,
 510: 3,
 519: 3,
 523: 3,
 531: 3,
 536: 3,
 542: 3,
 560: 3,
 561: 3,
 565: 3,
 567: 3,
 594: 3,
 610: 3,
 629: 3,
 638: 3,
 655: 3,
 666: 3,
 673: 3,
 692: 3,
 693: 3,
 699: 3,
 722: 3,
 726: 3,
 729: 3,
 730: 3,
 731: 3,
 732: 3,
 735: 3,
 748: 3,
 749: 3,
 756: 3,
 764: 3,
 774: 3,
 780: 3,
 787: 3,
 113: 2,
 116: 2,
 126: 2,
 144: 2,
 150: 2,
 168: 2,
 171: 2,
 214: 2,
 220: 2,
 227: 2,
 249: 2,
 263: 2,
 273: 2,
 274: 2,
 282: 2,
 297: 2,
 299: 2,
 300: 2,
 302: 2,
 310: 2,
 315: 2,
 326: 2,
 335: 2,
 344: 2,
 354: 2,
 369: 2,
 371: 2,
 377: 2,
 379: 2,
 390: 2,
 392: 2,
 398: 2,
 400: 2,
 407: 2,
 409: 2,
 412: 2,
 442: 2,
 445: 2,
 446: 2,
 447: 2,
 461: 2,
 467: 2,
 468: 2,
 487: 2,
 489: 2,
 491: 2,
 494: 2,
 511: 2,
 517: 2,
 522: 2,
 534: 2,
 535: 2,
 539: 2,
 540: 2,
 553: 2,
 564: 2,
 573: 2,
 585: 2,
 595: 2,
 601: 2,
 623: 2,
 631: 2,
 649: 2,
 665: 2,
 667: 2,
 672: 2,
 679: 2,
 681: 2,
 690: 2,
 691: 2,
 700: 2,
 701: 2,
 703: 2,
 705: 2,
 709: 2,
 710: 2,
 712: 2,
 715: 2,
 720: 2,
 724: 2,
 725: 2,
 728: 2,
 733: 2,
 734: 2,
 736: 2,
 740: 2,
 742: 2,
 744: 2,
 759: 2,
 765: 2,
 766: 2,
 768: 2,
 770: 2,
 771: 2,
 772: 2,
 776: 2,
 778: 2,
 784: 2,
 785: 2,
 789: 2,
 797: 2,
 799: 2,
 28: 1,
 72: 1,
 80: 1,
 124: 1,
 218: 1,
 226: 1,
 228: 1,
 248: 1,
 261: 1,
 264: 1,
 266: 1,
 268: 1,
 272: 1,
 279: 1,
 281: 1,
 286: 1,
 287: 1,
 291: 1,
 301: 1,
 303: 1,
 318: 1,
 323: 1,
 325: 1,
 331: 1,
 336: 1,
 348: 1,
 349: 1,
 355: 1,
 366: 1,
 367: 1,
 372: 1,
 378: 1,
 381: 1,
 384: 1,
 391: 1,
 393: 1,
 395: 1,
 414: 1,
 415: 1,
 416: 1,
 417: 1,
 419: 1,
 421: 1,
 422: 1,
 426: 1,
 443: 1,
 448: 1,
 450: 1,
 451: 1,
 452: 1,
 457: 1,
 458: 1,
 466: 1,
 469: 1,
 470: 1,
 471: 1,
 472: 1,
 473: 1,
 474: 1,
 485: 1,
 488: 1,
 490: 1,
 492: 1,
 493: 1,
 495: 1,
 497: 1,
 499: 1,
 503: 1,
 504: 1,
 515: 1,
 524: 1,
 530: 1,
 544: 1,
 545: 1,
 546: 1,
 548: 1,
 550: 1,
 552: 1,
 557: 1,
 568: 1,
 569: 1,
 570: 1,
 571: 1,
 572: 1,
 574: 1,
 575: 1,
 576: 1,
 582: 1,
 584: 1,
 587: 1,
 588: 1,
 591: 1,
 598: 1,
 599: 1,
 600: 1,
 602: 1,
 603: 1,
 604: 1,
 605: 1,
 614: 1,
 616: 1,
 617: 1,
 618: 1,
 621: 1,
 634: 1,
 635: 1,
 636: 1,
 637: 1,
 639: 1,
 646: 1,
 652: 1,
 662: 1,
 668: 1,
 671: 1,
 674: 1,
 676: 1,
 678: 1,
 682: 1,
 683: 1,
 684: 1,
 685: 1,
 694: 1,
 695: 1,
 696: 1,
 698: 1,
 706: 1,
 707: 1,
 711: 1,
 713: 1,
 714: 1,
 716: 1,
 718: 1,
 719: 1,
 727: 1,
 737: 1,
 739: 1,
 743: 1,
 745: 1,
 750: 1,
 751: 1,
 752: 1,
 753: 1,
 754: 1,
 755: 1,
 757: 1,
 758: 1,
 760: 1,
 761: 1,
 767: 1,
 769: 1,
 775: 1,
 777: 1,
 779: 1,
 781: 1,
 782: 1,
 783: 1,
 788: 1,
 790: 1,
 791: 1,
 792: 1,
 794: 1,
 795: 1,
 796: 1,
 798: 1,
 800: 1,
 801: 1,
 802: 1,
 803: 1,
 804: 1,
 805: 1,
 806: 1,
 827: 1}

In [52]:
df_drivers[df_drivers['driverId'] == 22]

    driverId forename      surname        dob nationality
21        22   Rubens  Barrichello 1972-05-23   Brazilian

### Az összes induló 40%-ának sikerült legalább egyszer a pontszerzés

In [51]:
(df[df['points'] > 0].groupby(by='driverId').count().count() / df.groupby(by='driverId').driverId.count().count()).raceId

0.4037780401416765