In [15]:
#----------Fájkezelés----------
import numpy as np
import pandas as pd
from gapminder import gapminder

#----------Statisztika----------
from pandas_summary import DataFrameSummary
import researchpy as rp
#from scipy import stats
import scipy.stats

#----------Vizualizáció----------
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#import plotly.express as px
#import plotly.graph_objects as go
import ipywidgets

### Gapminder dataset beolvasása

In [16]:
df = gapminder
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,year_1000,kicsi_nagy
0,Afghanistan,asia,1952,28.801,8425333,779.445314,2952,régi
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,2957,régi
2,Afghanistan,Aisa,1962,31.997,10267083,853.100710,2962,régi
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,2967,régi
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,2972,régi

In [17]:
df['year_1000'] = df['year']+1000
df.head()

,country,continent,year,lifeExp,pop,gdpPercap,year_1000,kicsi_nagy
0,Afghanistan,asia,1952,28.801,8425333,779.445314,2952,régi
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,2957,régi
2,Afghanistan,Aisa,1962,31.997,10267083,853.100710,2962,régi
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,2967,régi
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,2972,régi

In [18]:
df['year'].apply(lambda x: x+1000)

0       2952
1       2957
2       2962
3       2967
4       2972
        ...
1699    2987
1700    2992
1701    2997
1702    3002
1703    3007
Name: year, Length: 1704, dtype: int64

### Régi / új

In [19]:
def hozzáad(x, év):
    if (x < év):
        return 'régi'
    else:
        return 'új'

df['kicsi_nagy'] = df['year'].apply(lambda x: hozzáad(x, 2000))

In [20]:
df

,country,continent,year,lifeExp,pop,gdpPercap,year_1000,kicsi_nagy
0,Afghanistan,asia,1952,28.801,8425333,779.445314,2952,régi
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,2957,régi
2,Afghanistan,Aisa,1962,31.997,10267083,853.100710,2962,régi
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,2967,régi
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,2972,régi
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,2987,régi
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,2992,régi
1701,Zimbabwe,africa,1997,46.809,11404948,792.449960,2997,régi
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,3002,új
1703,Zimbabwe,Afirca,2007,43.487,12311143,469.709298,3007,új

### Kerekítés

In [21]:
df['gdpPercap'].apply(lambda x: round(int(x), -1))

0       780
1       820
2       850
3       840
4       740
       ...
1699    710
1700    690
1701    790
1702    670
1703    470
Name: gdpPercap, Length: 1704, dtype: int64

### Elírás kijavítása

In [22]:
df.loc[0, 'continent'] = 'asia'
df.loc[2, 'continent'] = 'Aisa'
df.loc[1701, 'continent'] = 'africa'
df.loc[1703, 'continent'] = 'Afirca'

In [23]:
df.continent.unique()

array(['asia', 'Asia', 'Aisa', 'Europe', 'Africa', 'Americas', 'Oceania',
       'africa', 'Afirca'], dtype=object)

In [24]:
def helyes(x):
    if (x in ['asia', 'Aisa']):
        return 'Asia'
    elif (x in ['africa', 'Afirca']):
        return 'Africa'
    else:
        return x
    
df['continent'].apply(lambda x: helyes(x))

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

### Progress bar

In [25]:
from tqdm import tqdm, tqdm_notebook

list = []
for x in tqdm_notebook(range(10000)):
    list.append(x**x)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

In [26]:
tqdm.pandas()
df['continent'].progress_apply(lambda x: helyes(x))

100%|██████████████████████████████████████████████████████████████████████████| 1704/1704 [00:00<00:00, 169611.61it/s]

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

### Kicsi vagy nagy

#### map()

In [27]:
def kicsi_nagy(x):
    if (x < 10000000):
        return 'kicsi'
    else:
        return 'nagy'

df['pop'].map(kicsi_nagy)

0       kicsi
1       kicsi
2        nagy
3        nagy
4        nagy
        ...
1699    kicsi
1700     nagy
1701     nagy
1702     nagy
1703     nagy
Name: pop, Length: 1704, dtype: object

#### apply()

In [28]:
df['pop'].apply(kicsi_nagy)

0       kicsi
1       kicsi
2        nagy
3        nagy
4        nagy
        ...
1699    kicsi
1700     nagy
1701     nagy
1702     nagy
1703     nagy
Name: pop, Length: 1704, dtype: object