### Könyvtárak

In [1]:
import pandas as pd
import numpy as np
import os
ldir = os.chdir(r'C:\Users\Gergely\Documents\Datasets')

### Olimpia Dataset beolvasása (athlete_events.csv)

In [2]:
df = pd.read_csv('athlete_events.csv')
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [3]:
df.shape

(271116, 15)

### Hiányzó értékek törlése

In [4]:
df.dropna(inplace=True)

### Memóra foglalás

In [5]:
df.info(null_counts=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30181 entries, 40 to 271103
Data columns (total 15 columns):
ID        int64
Name      object
Sex       object
Age       float64
Height    float64
Weight    float64
Team      object
NOC       object
Games     object
Year      int64
Season    object
City      object
Sport     object
Event     object
Medal     object
dtypes: float64(3), int64(2), object(10)
memory usage: 20.9 MB

In [6]:
df.memory_usage(deep=True)

Index      241448
ID         241448
Name      2347707
Sex       1871222
Age        241448
Height     241448
Weight     241448
Team      1990592
NOC       1810860
Games     2052308
Year       241448
Season    1901403
City      1954226
Sport     1996927
Event     2661531
Medal     1881069
dtype: int64

### Típusok konvertálása

In [7]:
df['ID'] = df['ID'].astype('int32')
df[['Age', 'Weight', 'Height', 'Year']] = df[['Age', 'Weight', 'Height', 'Year']].astype('int16')

df[['Sex', 'Team', 'NOC', 'Season', 'City', 'Sport']] = df[['Sex', 'Team', 'NOC', 'Season', 'City', 'Sport']].astype('category')

### Memória foglalás

In [8]:
df.memory_usage(deep=True)

Index      241448
ID         120724
Name      2347707
Sex         30385
Age         60362
Height      60362
Weight      60362
Team        88154
NOC         74062
Games     2052308
Year        60362
Season      30387
City        34217
Sport       36442
Event     2661531
Medal     1881069
dtype: int64

In [9]:
df.info(null_counts=False, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30181 entries, 40 to 271103
Data columns (total 15 columns):
ID        int32
Name      object
Sex       category
Age       int16
Height    int16
Weight    int16
Team      category
NOC       category
Games     object
Year      int16
Season    category
City      category
Sport     category
Event     object
Medal     object
dtypes: category(6), int16(4), int32(1), object(4)
memory usage: 9.4 MB